<!-- <h1 class= "myname">{{name}}</h1>
   <h2>rollno-{{student.rno}} ---- name {{student.name}}</h2>

<ul>
<li>{{arr[0]}}</li>
<li>{{arr[1]}}</li>
</ul>
<ul>
<li *ngFor="let a of arr">
  {{a}}
</li>
</ul>
<div *ngFor="let s of stuArr">
<p>{{s.rno}}</p>
<p>{{s.rno}}</p>
<h3>{{s.name}}</h3>
</div>
<table>
<thead>
<th>Sr. No</th>
<th>Rno</th>
<th>Name</th>
</thead>
<tbody>
<tr *ngFor="let s1 of stuArr; let i=index">
<td>{{i+1}}</td>
<td>{{s1.rno}}</td>
<td>{{s1.name}}</td>
</tr>
</tbody>
</table> -->


<!--<h1 class="myname"> {{name}}</h1>
<h2>{{student.rno}}--{{student.name}}</h2>
<table width="100" border="5" height="50">
  <tr>
    <th>sr no.</th>
    <th>Name</th>
    <th>Contact</th>
    <th>Roll no</th>
  </tr>
  <tr>
    <td>1</td>
    <td>Reeba Diwan</td>
    <td>9756132346</td>
    <td>35</td>
  </tr>
  <tr>
    <td>2</td>
    <td>sarah khan</td>
    <td>975614116</td>
    <td>19</td>
  </tr>
  
    <td>3</td>
    <td>Anas khan</td>
    <td>9648124116</td>
    <td>50</td>
  </tr>
  <tr>
    <td>4</td>
    <td>Ashiya khan</td>
    <td>9789631116</td>
    <td>21</td>
  </tr>
  
</table>
<ul></ul>-->

<div>
  <p class="para">
    how to install firebase
  </p>
  <p class="para">
    1. Login to firebase with your google account and go to console.
2. Create new project, give name as myresume, click continue.
3. Disable google analytics and click create project.
4. Open your command prompt and navigate to your angular project
5. npm install --save firebase-tools
6. ng build
7. You would see a new folder dist/myresume in your project root folder
8. firebase login
9. firebase init
10. Yes => select hosting by pressing down arrow key ( Hosting: Configure files for Firebase Hosting and (optionally) set up GitHub Action deploys)
11. Select use an existing project
12. Select your project 
13. Select dist/myresume as your public directory
14. Configure as a single-page app (rewrite all urls to /index.html)?  => Select no
15. Set up automatic builds and deploys with GitHub? (y/N) => select N
16. Set up automatic builds and deploys with GitHub? => Select No
17. firebase deploy
  </p>
</div>



